---
import Base from "../layouts/Base.astro";
---

<Base>
  <h1>prentice bjerkeseth</h1>
</Base>

<style is:global>
  h1 {
    font-family: var(--serif);
    font-size: 1.75rem;
    font-weight: 500;
    padding-top: 2rem;
  }
</style>
